{# {% for label, messages in app.flashes %}
{% for message in messages %}
<div class="alert alert-warning alert-dismissible mt-5" role="alert">
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				<div class="alert-message">
					{{ message|raw }}
				</div>
			</div> #}