{% extends 'base.html.twig' %}

{% block title %}Bonjour ProfileController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 10em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Bonjour! ✅</h1>

<h1>Vous êtes bien connecté.</h1>
</div>
{% endblock %}
