{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"/>


</head>
<header>


	<div id="testcomp"></div>

</header>
<!-- Demo styles -->
<style>
	.swiper {
		width: 100%;
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.swiper-slide {
		background-position: center;
		background-size: cover;
		width: 300px;
		height: 300px;
	}

	.swiper-slide img {
		display: block;
		width: 100%;
	}
	.endtext {
		margin-bottom: -10rem;
	}
</style>


<body>

	<main>
		<section class="swiper mySwiper">

			<div class="swiper-wrapper">

				<div class="text fixed">
					<h2>Coiffure artistique</h2>
					<p>Il m'a fallut de longues heures de tissages , de tressages pour confectionner ces ajouts capillaires
					</p>
				</div>
				<div class="swiper-slide">
					<img src="images/Zoe.jpg"/>
				</div>
				<div class="swiper-slide">
					<img src="images/Robin.jpg"/>
				</div>
				<div class="swiper-slide">
					<img src="images/paola.jpg"/>
				</div>
				<div class="swiper-slide">
					<img src="images/Barbara.jpg"/>
					<button>click</button>
				</div>
				<div class="endtext">
					<h2>Coiffure artistique</h2>
					<p>Il m'a fallut de longues heures de tissages , de tressages pour confectionner ces ajouts capillaires
					</p>
				</div>
			</div>
		</section>
		<div class="swiper-pagination"></div>
	</main>
	<section class="slides">
		<h2>Hairstyle</h2>
		<article class="card">
			<input type="radio" name="select" id="slide_1" checked>
			<input type="radio" name="select" id="slide_2">
			<input type="radio" name="select" id="slide_3">
			<input type="checkbox" id="slideImg">

			<div class="slider">
				<label for="slide_1" class="slide slide_1"></label>
				<label for="slide_2" class="slide slide_2"></label>
				<label for="slide_3" class="slide slide_3"></label>
			</div>

			<div class="inner_part">
				<label for="slideImg" class="img">
					<img class="img_1" src="images/mariewu3.jpg" alt="photo d'une mannequin portant un manteau de cheveux,gros plan">
				</label>
				<div class="content content_1">
					<h3 class="title">HairStylist</h3>
					<p class="text">
						Une collection de vêtements fait main réalisées en cheveux naturels , confectionnée avec des techniques de tissages et de tressage ,
																									tout en laissant cette longueur libre , s'étendre et épouser la forme du corps.
					</p>

				</div>
			</div>

			<div class="inner_part">
				<label for="slideImg" class="img">
					<img class="img_2" src="images/mariewu1.jpg " alt="photo d'une mannequin portant un manteau de cheveux">
				</label>
				<div class="content content_2">
					<h3 class="title">Hair Coat</h3>
					<p class="text">
						Manteau réalisé en cheveux naturel , superposition de bandes cheveux afin d'avoir un volume 
																								important.</p>
				</div>


				<div class="inner_part">
					<label for="slideImg" class="img">
						<img class="img_3" src="images/mariewu2.jpg" alt="photo d'un mannequin portant une tenue de cheveux">
					</label>
					<div class="content content_3">
						<h3 class="title">Tenue de cheveux</h3>
						<p class="text">
							Jupe et top réalisées en cheveux naturel , le ras du coup et la ceinture sont tissés et tressés.
						</p>

					</div>
				</div>
			</article>
		</main>

		<section class="prestation2">
			<div class="grid2">
				<div class="box7">
					<h2>Sloane Peters</h2>
					<img src="images/profile.jpg" alt="photo de profile de la coiffeuse"></div>
				<div class="box8">
					<h2>«Être parisienne ce n’est pas être née à paris, c’est y renaître»</h2>
					<h3>Une coiffeuse à la pointe de la tendance
					</h3>
					<li>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae magnam facere suscipit mollitia minima laborum.</li>
					<h3>Lorem, ipsum dolor.</h3>
					<li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor, placeat?</li>
				</div>
				<div class="box9">
					<h3>J'ai créée pour vos cheveux</h3>
					<li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus necessitatibus ullam consectetur praesentium cupiditate deleniti ipsam est rerum quam mollitia!</li>
					<h3>Conseils d'experts
					</h3>
					<li>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus soluta reiciendis quidem repudiandae, odio voluptatum.</li>
					<img src="images/produits2.jpg" alt="produits de coiffure"></div>
				<div class="box10">
					<img src="images/produits.jpg" alt="produits de coiffure"></div>
				<div class="presse">
					<h2>« Publication »</h2>
					<img src="images/sophie1.jpg" alt="photo de mode d'une mannquin vêtue de blanc"></div>

				<div class="box11">
					<ul class="slideshow3">
						<li class="bitie"></li>
						<li class="bitie"></li>
						<li class="bitie"></li>
						<li class="bitie"></li>
						<li class="bitie"></li>
					</ul>
				</div>
				<div class="box12">
					<h4>Bitie Flow
					</h4>
					<p>Pour cette collection d'accessoires et bijoux ,j'ai réalisé des coiffures voluptueuses et glamours afin de mettre en valeur les créations de l'artiste.</p>
					<h5>Pour O Magazine</h5>
					<p>Une équipe formidable , des moments mémorables , merci O magazine de m'avoir fait confiance.</p>
				</div>
				<div class="box13">
					<h4>Color Full</h4>
					<p>Pour cette collection de vêtements riche en couleur , j'ai réalisé des coiffures graphiques et en adéquation avec un stylisme très particuliers.</p>
					<h5>Pour VOGUE</h5>
					<p>La réputation n'est plus à refaire .Quelle plaisir pour moi d'avoir pu coiffé sur un édito avec l'équipe du magazine.</p>
				</div>
				<div class="box14">
					<ul class="slideshow">
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
					</ul>
				</div>

				<div class="box15">
					<h4>Monochromatic</h4>
					<p>Un stylisme , des coiffures vertigineuses pour cet édito, un vrai plaisir à réaliser</p>
					<h5>Pour Biblond</h5>
					<p>
						Merveilleux mag de la mode , souvenirs mémorables ,incroyables expériences avec vous.Merci à vous Biblond.</p>
				</div>
				<div class="box16">
					<ul class="slideshow2">
						<li class="monocromatic"></li>
						<li class="monocromatic"></li>
						<li class="monocromatic"></li>
						<li class="monocromatic"></li>
						<li class="monocromatic"></li>
					</ul>
				</div>
			</section>
		</body>
		<!-- Swiper JS -->
		<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
		<!-- Initialize Swiper -->
		<script>
			let swiper = new Swiper(".mySwiper", {
effect: "coverflow",
grabCursor: true,
centeredSlides: true,
autoplay: {
delay: 3000,
disableOnInteraction: false
},
slidesPerView: "auto",
coverflowEffect: {
rotate: 50,
stretch: 0,
depth: 100,
modifier: 1,
slideShadows: true
},
pagination: {
el: ".swiper-pagination"
}
});

function toggleMenu() {
const navbar = document.querySelector('.navbar');
const burger = document.querySelector('.burger');

burger.addEventListener('click', (e) => {
navbar.classList.toggle('show-nav').style.marginBottom = "25px";
});
// bonus
const navbarLinks = document.querySelectorAll('.navbar a');
navbarLinks.forEach(link => {
link.addEventListener('click', (e) => {
navbar.classList.toggle('show-nav');
});
})

}
toggleMenu();

// document.getElementById("selection").style.marginBottom = "25px";

// back to top button
// Get the button:
let mybutton = document.getElementById("myBtn");

// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function () {
scrollFunction()
};

function scrollFunction() {
if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
mybutton.style.display = "block";
} else {
mybutton.style.display = "none";
}
}
		</script>
	</body>
</body></html>{% endblock %}
