@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300;1,600;1,700&family=Roboto:ital,wght@0,300;0,900;1,300&display=swap");



body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}

p {
  margin-bottom: 1.5em;
  color: #898989;
}

/* ---------------------------NAVBAR------------------------------- */

body {
  min-height: 100vh;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.3rem 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background-color:rgba(255, 255, 255, 0.4)
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: -1;
}
.header::after {
  content: "";
  position: absolute;
  top: 0;
  /* left: -100%; */
  width: 100%;
  height: 10%;


  transition: 0.5s;
}
.header:hover::after {
  left: 100%;
}

.navbar a {
  font-size: 1.15rem;
  color: rgb(5, 5, 4);
  text-decoration: none;
  font-weight: 500;
  margin-left: 2.5rem;
}
#check {
  display: none;
}
.icons {
  position: absolute;
  right: 5%;
  font-size: 2.8rem;
  color: rgb(5, 5, 4);
  cursor: pointer;
  display: none;
}
@media (max-width: 992px) {
  .header {
    padding: 1.3rem 5%;
  }
}
@media (max-width: 1190px) {
  .icons {
    display: inline-flex;
  }
  #check:checked ~ .icons #menu-icon {
    display: none;
  }
  .icons #menu-icon~ .icons #close-icon {
    display: none;
  }
  .icons #close-icon~ .icons #menu-icon {
    display: none;
  }
 #check:checked ~ .icons #close-icon {
    display: block;
  }  
  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 14rem;
    background-color:rgba(255, 255, 255, 0.4);
    
    background: linear-gradient(
    90deg,
    transparent,
    rgb(255, 255, 255, 0.4),
    tranparent
  );
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 1);
    overflow: hidden;
    transition: 0.3s ease;
  }
  #check:checked ~ .navbar {
    height: 14rem;
  }
  .navbar a {
    display: block;
    font-size: 1.1rem;
    margin: 1.5 rem 0;
    text-align: center;
    transform: translateY(-50px);
    opacity: 0;
    transition: 0.3s ease;
  }
  #check:checked ~ .navbar a {
    transform: translateY(0);
    opacity: 1;
    transition-delay: calc(0.15s * var(--i));
  }
}

#myBtn {
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

.prestations2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  text-align: center;
  margin-top: 20rem;

  padding: 1rem;
  gap: 2rem;
}
.box8 li{
  list-style-type: none;
}
.box9 li{
  list-style-type: none;
}
.grid2 .box7{
  grid-column: 1/2;
  grid-row: 1/2;
}
.grid2 .box8{
  grid-column: 1/2;
  grid-row: 2/3;
} 
.grid2 .box9{
  grid-column: 1/2;
  grid-row: 3/4;
} 
.grid2 .box10{
  grid-column: 1/2;
  grid-row: 4/5;
} 
.grid2 .bo11{
  grid-column: 1/2;
  grid-row: 5/6;
} 
.grid2 .box12{
  grid-column: 1/2;
  grid-row: 6/7;
} 
.grid2 .box13{
  grid-column: 1/2;
  grid-row: 7/8;
} 
.grid2 .box14{
  grid-column: 1/2;
  grid-row: 8/9;
} 
.grid2 .box15{
  grid-column: 1/2;
  grid-row: 9/10;
} 
.grid2 .box16{
  grid-column: 1/2;
  grid-row: 10/11;
} 
.grid2 {
  text-align: center;
  border: solid 1px #000;
  margin-top: -5rem;
  padding-bottom: 10rem;
}
.grid2 img {
  width: 100%;
}
.grid2 p {
  font-family: "roboto" sans-serif;
  text-align: left;
  margin: 1rem;
}
.grid2 h3 {
  font-family: "roboto" sans-serif;
  margin: 1rem;
  font-size: 2rem;
  color: grey;
}
.presse h2{
  margin-right: 10rem;
}
.grid2 h2 {
  font-family: "roboto" sans-serif;
  margin: 1rem;
  font-size: 2.9rem;
  color: rgb(0, 0, 0);
  clear: both;
  font-family: "Patua One", serif;
  letter-spacing: 2px;
  font-weight: 800;
}
.grid2 h4 {
  border: solid;
  padding: 1rem;

  margin-top: 2rem;
  margin-bottom: 2rem;

  font-size: 1.8rem;
  font-family: "roboto" sans-serif;
}

.item1 {
  text-align: center;
}

@media screen and (min-width: 48em) {
  .grid2 {
    grid-auto-rows: auto;
    display: grid;
    gap: 2rem;
    padding-top: 3rem;
    padding-left: 4rem;
    padding-right: 4rem;
    margin-bottom: 15rem;
    gap: 7rem;
  }
  .prestations2 {
    width: 80%;
  }
  .grid2 .box7 {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .grid2 .box8 {
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: center;
    justify-content: center;
    margin-top: 20rem;
    margin-bottom: 10rem;
  }

  .grid2 .box9 {
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: center;
    justify-content: center;
    margin-top: 10rem;
    gap: 5rem;
  }
  .grid2 .box9 img {
    margin-top: 4rem;
  }
  .grid2 .box9 p {
    margin-top: -5rem;
  }
  .grid2 .box10 {
    grid-column: 2/3;
    grid-row: 2/3;
    margin-bottom: 10rem;
  }
  .box10 {
    animation-duration: 2s;
    animation-name: slidein;
  }

  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }

    to {
      margin-left: 0%;
      width: 100%;
    }
  }
  .presse img {
    width: 70rem;
  }
  .grid2 .presse {
    grid-column: 1/3;
    grid-row: 3/4;
  }
  .grid2 .presse h2 {
    margin-top: 4rem;
    margin-left: 28rem;
    z-index: 9;
  }
  .grid2 .box11 {
    grid-column: 1/2;
    grid-row: 4/5;
    margin-bottom: 10rem;
  }
  .grid2 h2 {
    font-size: 3.5rem;
    font-size: 3.5rem;
    font-family: "roboto", sans-serif;
  }
  .grid2 .box12 {
    grid-column: 2/3;
    grid-row: 4/5;
    text-align: center;
    justify-content: center;
    margin-top: 20rem;
  }
  .grid2 .box13 {
    grid-column: 1/2;
    grid-row: 5/6;
    text-align: center;
    justify-content: center;
    margin-bottom: 10rem;
    margin: 3rem;
  }
  .grid2 .box14 {
    grid-column: 2/3;
    grid-row: 5/6;
  }
  .grid2 img {
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
  }
  .grid2 .box15 {
    grid-column: 2/3;
    grid-row: 6/7;
    text-align: center;
    justify-content: center;
    margin-top: 10rem;
    margin-bottom: 10rem;
    margin: 5rem;
  }
  .grid2 .box16 {
    grid-column: 1/2;
    grid-row: 6/7;
    margin-top: 5rem;
    margin: 5rem;
    margin-left: -5rem;
  }
  .grid2 img {
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
  }
}

/* ----------------------------------Hairstylist--------------------------------------- */

input,
select,
textarea {
  color: #404040;
  font-family: "Comfortaa", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
}
.slides {
  margin:10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  height: 750px;
  width: 100%;
  max-width: 1050px;
  background-color: #ffffff;
  border-radius: 2px;
}
/* .slides h2 {
margin-top: -53rem;

  font-size: 2rem;
} */

.card .inner_part {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0 0 30px;
  height: 560px;
  position: absolute;
}

#slideImg:checked ~ .inner_part {
  padding: 0;
  transition: 0.1s ease-in;
}

.inner_part .img {
  height: 600px;
  width: 450px;
  overflow: hidden;
  flex-shrink: 0;
  border-radius: 8px;
  margin-top: 10rem;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

#slideImg:checked ~ .inner_part .img {
  height: 350px;
  width: 850px;
  z-index: 99;
  transition: 0.3s 0.2s ease-in;
}

.img img {
  height: 100%;
  width: 100%;
  cursor: pointer;
  opacity: 0;
  transition: 0.6s;
}

#slide_1:checked ~ .inner_part .img_1,
#slide_2:checked ~ .inner_part .img_2,
#slide_3:checked ~ .inner_part .img_3 {
  opacity: 1;
  transition-delay: 0.2s;
}

.content {
  padding: 0 20px 0 35px;
  width: 430px;
  margin-left: 50px;
  opacity: 0;
  transition: 0.6s;

}

#slideImg:checked ~ .inner_part .content {
  display: none;
}

#slide_1:checked ~ .inner_part .content_1,
#slide_2:checked ~ .inner_part .content_2,
#slide_3:checked ~ .inner_part .content_3 {
  opacity: 1;
  margin-left: 0;
  z-index: 100;
  transition-delay: 0.3s;
}

.content .title {
  font-size: 30px;
  font-weight: 700;
  color: #0d0925;
  margin-top: 15rem;

}
.title h3{
  margin-left:-3rem;
}

.content .text {
  font-size: 19px;
  color: #4e4a67;
  line-height: 1.5em;
  text-align: justify;
margin-bottom: 5rem;

}

.slider {
  position: absolute;
  bottom: 25px;
  left: 55%;
  transform: translateX(-50%);
  z-index: 1;
}

#slideImg:checked ~ .slider {
  display: none;
}

.slider .slide {
  position: relative;
  height: 10px;
  width: 50px;
  background: #d9d9d9;
  border-radius: 5px;
  display: inline-flex;
  margin: 0 3px;
  cursor: pointer;
}

.slider .slide:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: -100%;
  background: #000000;
  border-radius: 10px;
  transform: scaleX(0);
  transition: transform 0.6s;
  transform-origin: left;
}

#slide_1:checked ~ .slider .slide_1:before,
#slide_2:checked ~ .slider .slide_2:before,
#slide_3:checked ~ .slider .slide_3:before {
  transform: scaleX(1);
  width: 100%;
}

input {
  display: none;
}
/* ------------------------------------------ESHOP---------------------------------------- */
.eshop {
  display: flex;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: auto;
  z-index: 0;
  margin-top: 700px;
  align-items: center;
  justify-content: center;
}

.eshop-card {
  display: flex;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  width: 20rem;
  grid-row: 1/2;
  gap: 10rem;
  justify-content: space-between;
  align-items: center;
  margin-left: 10rem;
  margin-top: 8.5rem;
}
.eshop1 img {
  width: 20rem;
}

.eshop1 {
  display: grid;
  grid-template-columns: 1fr;
  padding: 1rem;
  border: solid 1px #000;
}
.img_1 {
  grid-column: 1/2;
  grid-row: 1/2;
}
.text-eshop {
  width: 20rem;
  grid-column: 1/2;
  grid-row: 2/3;
  margin-top: -10rem;
}

.eshop-card-2 {
  display: flex;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  width: 20rem;
margin-top: 8.3rem;
  grid-column: 2/3;
  grid-row: 1/2;
  gap: 5rem;
  margin-left: 4.8rem;
  
}
.eshop1-2 img {
  width: 20rem;
}

.eshop1-2 {
  display: grid;
  grid-template-columns: 1fr;
  border: solid 1px #000;
  padding: 1rem;
}
.img_2 {
  grid-column: 1/2;
  grid-row: 1/2;
}
.text-eshop-2 {
  width: 20rem;
  grid-column: 1/2;
  grid-row: 2/3;
  margin-top: -5rem;
}

.eshop-card-3 {
  display: flex;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  width: 20rem;
  grid-column: 3/4;
  grid-row: 1/2;
  gap: 2rem;
  margin-top: 8rem;
}
.eshop1-3 img {
  width: 20rem;
}

.eshop1-3 {
  display: grid;
  grid-template-columns: 1fr;
  padding: 1rem;
  border: solid 1px #000;
}
.img_3 {
  grid-column: 1/2;
  grid-row: 1/2;
}
.text-eshop-3 {
  width: 20rem;
  grid-column: 1/2;
  grid-row: 2/3;
  margin-top: -2rem;
 
}
/* ---------slide eshop */

.slideshow-eshop {
  list-style-type: none;
  width: 20rem;
  display: flex;
  justify-content: center;
  right: 10%;
}

/** SLIDESHOW **/
.slideshow-eshop,
.slideshow:after {
  height: 25%;
  z-index: 0;
}

.slideshow-eshop li span {
  position: absolute;
  width: 80%;
  height: 80%;
  top: 0px;

  color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  margin-top: 10rem;
  animation: imageAnimation 30s linear infinite 0s;
}


.slideshow-eshop li:nth-child(1) span {
  background-image: url("../../imagesprd4.jpg");
}
.slideshow-eshop li:nth-child(2) span {
  background-image: url("../../images/prd5.jpg");
  animation-delay: 6s;
}
.slideshow-eshop li:nth-child(3) span {
  background-image: url("../../images/prd4.jpg");
  animation-delay: 12s;
}
.slideshow-eshop li:nth-child(4) span {
  background-image: url("../../images/prd5.jpg");
  animation-delay: 18s;
}
.slideshow-eshop li:nth-child(5) span {
  background-image: url("../../images/prd4.jpg");
  animation-delay: 24s;
}
@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  8% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes titleAnimation {
  0% {
    opacity: 0;
  }
  8% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  19% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@media screen and (min-width: 48em) {
/* -----------------------------slider----------------------------- */
.slideshow {
  list-style-type: none;
  width: 20rem;
}

/** SLIDESHOW **/
.slideshow,
.slideshow:after {
  height: 25%;
  z-index: 0;
}

.slideshow li {
  position: absolute;
  width: 48%;
  height: 48%;
  color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 10s linear infinite 0s;
  -webkit-animation: imageAnimation 10s linear infinite 0s;
}

.slideshow li:nth-child(1) {
  background-image: url("../../images/kimberley1.jpg");
}
.slideshow li:nth-child(2) {
  background-image: url("../../images/Kimberley2.jpg");
  animation-delay: 3s;
}
.slideshow li:nth-child(3) {
  background-image: url("../../images/Kimberley3.jpg");
  animation-delay: 5s;
}
.slideshow li:nth-child(4) {
  background-image: url("../../images/Kimberley4.jpeg");
  animation-delay: 8s;
}
.slideshow li:nth-child(5) {
  background-image: url("../../images/Kimberley2.jpg");
  animation-delay: 8s;
}

@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  8% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes titleAnimation {
  0% {
    opacity: 0;
  }
  8% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  19% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.no-cssanimations .cb-slideshow li {
  opacity: 1;
}

.slideshow {
  list-style-type: none;
  width: 20rem;
}

/** SLIDESHOW monocromatic**/
.slideshow2,
.slideshow2:after {
  height: 25%;
  z-index: 0;
}

.slideshow2 li {
  position: absolute;
  width: 48%;
  height: 85%;
  gap: 2rem;
  color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 10s linear infinite 0s;
  -webkit-animation: imageAnimation 10s linear infinite 0s;
  margin-top: -5rem;
}

.slideshow2 li:nth-child(1) {
  background-image: url("../../images/sophie1.jpg");
}
.slideshow2 li:nth-child(2) {
  background-image: url("../../images/sophie2.jpg");
  animation-delay: 3s;
}
.slideshow2 li:nth-child(3) {
  background-image: url("../../images/sophie3.jpg");
  animation-delay: 5s;
}
.slideshow2 li:nth-child(4) {
  background-image: url("../../images/sophie2.jpeg");
  animation-delay: 8s;
}
.slideshow2 li:nth-child(5) {
  background-image: url("../../images/sophie3.jpg");
  animation-delay: 9ss;
}

@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  8% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes titleAnimation {
  0% {
    opacity: 0;
  }
  8% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  19% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.no-cssanimations .cb-slideshow li {
  opacity: 1;
}

/** SLIDESHOW bitie**/
.slideshow3,
.slideshow3:after {
  height: 25%;
  z-index: 0;
}

.slideshow3 li {
  position: absolute;
  width: 40%;
  height: 85%;
  gap: 2rem;
  color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 10s linear infinite 0s;
  -webkit-animation: imageAnimation 10s linear infinite 0s;
}

.slideshow3 li:nth-child(1) {
  background-image: url("../../images/bitie1.jpg");
}
.slideshow3 li:nth-child(2) {
  background-image: url("../../images/bitie2.jpg");
  animation-delay: 3s;
}
.slideshow3 li:nth-child(3) {
  background-image: url("../../images/bitie3.jpg");
  animation-delay: 5s;
}
.slideshow3 li:nth-child(4) {
  background-image: url("../../images/bitie1.jpg");
  animation-delay: 8s;
}
.slideshow3 li:nth-child(5) {
  background-image: url("../../images/bitie3.jpg");
  animation-delay: 11s;
}
}
.slideshow li:nth-child(1) {
  background-image: url("../../images/kimberley1.jpg");
}
.slideshow li:nth-child(2) {
  background-image: url("../../images/Kimberley2.jpg");
  animation-delay: 3s;
}
.slideshow li:nth-child(3) {
  background-image: url("../../images/Kimberley3.jpg");
  animation-delay: 5s;
}
.slideshow li:nth-child(4) {
  background-image: url("../../images/Kimberley4.jpeg");
  animation-delay: 8s;
}
.slideshow li:nth-child(5) {
  background-image: url("../../images/Kimberley2.jpg");
  animation-delay: 8s;
}
.slideshow3 li:nth-child(1) {
  background-image: url("../../images/bitie1.jpg");
}
.slideshow3 li:nth-child(2) {
  background-image: url("../../images/bitie2.jpg");
  animation-delay: 3s;
}
.slideshow3 li:nth-child(3) {
  background-image: url("../../images/bitie3.jpg");
  animation-delay: 5s;
}
.slideshow3 li:nth-child(4) {
  background-image: url("../../images/bitie1.jpg");
  animation-delay: 8s;
}
.slideshow3 li:nth-child(5) {
  background-image: url("../../images/bitie3.jpg");
  animation-delay: 11s;
}
.slideshow2 li:nth-child(1) {
  background-image: url("../../images/sophie1.jpg");
}
.slideshow2 li:nth-child(2) {
  background-image: url("../../images/sophie2.jpg");
  animation-delay: 3s;
}
.slideshow2 li:nth-child(3) {
  background-image: url("../../images/sophie3.jpg");
  animation-delay: 5s;
}
.slideshow2 li:nth-child(4) {
  background-image: url("../../images/sophie2.jpeg");
  animation-delay: 8s;
}
.slideshow2 li:nth-child(5) {
  background-image: url("../../images/sophie3.jpg");
  animation-delay: 9ss;
}
.a{
  display: none;
}
@media screen and (max-width: 48em) {
  body{
    padding:1rem;
  }
  ul{
    display: none;
  }
  .box16{
    background-image: url("../../images/sophie3.jpg");
    height:30rem;
    background-size: cover;
    background-position: center;
    padding:2rem;
  }
  .box11{
    background-image: url("../../images/bitie1.jpg");
    height:40rem;
    background-size: cover;
    background-position: center;
    padding: 2rem;
    margin-top: 5rem;
  }
  .box14{
    background-image: url("../../images/Kimberley3.jpg");
    height:20rem;
    background-size: cover;
    background-position: center;
    padding: 2rem;
  }
  
}
#details{
  margin-top: 10rem;
}