.TestComp {
    text-align: center;
    margin-top:-10rem;
  }
  
  section {
    display: flex;
    width: 100vw;
    background: #EEE;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
  
  }
  
  .box-gsap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 20vh;
    font-size: 2vw;
    border-bottom: 1px solid #666;
  }
  
  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;  
    font-weight: normal;
    margin: 0;
  
  }
  
  .letter {
    font-size: 15vw;
    display: inline-block;
  }

  @media screen and (max-width: 767.98px){
    .TestComp{
      margin-top:-70rem;
    }
  }