<h1>Activez votre compte</h1>
<p>Bonjour {{ user.firstname }},</p>
<p>Votre inscription sur notre E-Shop est à valider en cliquant sur le lien ci-dessous:</p>
<p><a href="">Lien</a></p>
<p>Ce lien expirera dans 15 minutes</p>