{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}

<section class="slides">
	<article class="card">
		{% for category in categories %}
			{% if category.parent == null %}


				<input type="radio" name="select" id="slide_1" checked>
				<input type="checkbox" id="slideImg">
				<div class="slider">
					<label for="slide_1" class="slide slide_1"></label>
				</div>
				<div class="inner_part">
					<label for="slideImg" class="img">
						<img class="img_1" src="images/mariewu3.jpg">
					</label>
					
					<div class="content content_1">
						<h2 class="title">{{ category.name}}</h2>
					{% else %}
						<h3>{{ category.name }}</h3>
						<div class="text">
							Istanbul, a fascinating city built on two Continents, divided by the Bosphorus Strait. This is one of the greatest cities in the world.
						</div>
						<a href="{{ path('categories_list', {slug: category.slug}) }}" class="btn btn-sm btn-outline-secondary">Voir les produits</a>

					</div>
				</div>


			</div>
		</div>
	</article>


{% endif %}{% endfor %}</section></main>{% endblock %}
