{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
<header>
	<section class="slide-eshop	">
		<ul class="slideshow-eshop">
			<li>
				<span></span>
			</li>
			<li>
				<span></span>
			</li>
			<li>
				<span></span>
			</li>
			<li>
				<span></span>
			</li>
			<li>
				<span></span>
			</li>
		</ul>
	</section>
</header>
<body>
	<section class="eshop">

		<article class="eshop-card">
			<div class="eshop1">
				<img class="img_1" src="images/prd4.jpg">
			</div>
			<div class="text-eshop">
				<h2 class="title-eshop">Shampooing</h2>
				<p>Des cheveux sublimes, sans effort. Découvrez les collections de soins. Les soins capillaires d'exception d'un salon Parisien iconique. Découvrez la gamme.</p>
				<a href="{{ path('categories_list', {'id': 107})}}" class="btn btn-sm btn-outline-secondary">Voir les produits</a>
			</div>
		</article>


		<article class="eshop-card-2">
			<div class="eshop1-2">
				<img class="img_1" src="images/prd5.jpg">
			</div>
			<div class="text-eshop-2">
				<h2 class="title-eshop-2">Soins</h2>
				<p>Des cheveux sublimes, sans effort. Découvrez les collections de soins.Les soins capillaires d'exception d'un salon Parisien iconique. Découvrez la gamme.</p>
				<a href="{{ path('categories_list', {'id': 108})}}" class="btn btn-sm btn-outline-secondary">Voir les produits</a>
			</div>
		</article>

		<article class="eshop-card-3">
			<div class="eshop1-2">
				<img class="img_1" src="images/prd4.jpg">
			</div>
			<div class="text-eshop-3">
				<h2 class="title-eshop-3">Coiffants</h2>
				<p>Des cheveux sublimes, sans effort. Découvrez les collections de soins. Les soins capillaires d'exception d'un salon Parisien iconique. Découvrez la gamme.</p>
				<a href="{{ path('categories_list', {'id': 109})}}" class="btn btn-sm btn-outline-secondary">Voir les produits</a>
			</div>
		</article>
	</section>
</body>
{% endblock %}
